*.js
*.png
data/*
*.json
.venv
*.db
*.sqlite

# Egg info directories
*.egg-info/

# Python build and distribution
build/
dist/
*.egg

# Python cache files
__pycache__/
*.py[cod]
*$py.class
alt/data/track_records.sqlite
